use flake

export HF_HUB_OFFLINE=1

export DB_HOST=localhost
export PGPORT=5432
export DB_USER=${USER}
export DB_NAME=${USER}

export MINIO_PORT=9876
export MINIO_CONSOLE_PORT=9877
export MINIO_ACCESS_KEY=minioadmin
export MINIO_SECRET_KEY=minioadmin